@using Microsoft.AspNetCore.Identity
@using Psinder.Core.Model.Enums;
@using Psinder.Core.Model;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @if (User.IsInRole(UserRoles.Admin.ToString()))
            {
                <a id="manage" class="nav-link text-dark" asp-controller="User" asp-action="Details">
                    @UserManager.GetUserName(User) (Admin)
                </a>
            }
            else if (User.IsInRole(UserRoles.Moderator.ToString()))
            {
                <a id="manage" class="nav-link text-dark" asp-controller="User" asp-action="Details">
                    @UserManager.GetUserName(User) (Moderator)
                </a>
            }
            else
            {
                <a id="manage" class="nav-link text-dark" asp-controller="User" asp-action="Details">
                    @UserManager.GetUserName(User)
                </a>
            }
            </li>
            <li>
            <a id="logout" class="btn btn-danger" asp-controller="User" asp-action="Logout">Logout</a>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary" id="login" asp-controller="User" asp-action="Login">Logowanie</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" id="register" asp-controller="User" asp-action="Create">Rejestracja</a>
        </li>
    }
</ul>
