@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Psinder.Core.Model.Enums;
@model Psinder.Web.Models.Dog.DogEditModelView
@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja zwierzaka</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogBreeds" class="control-label"></label>
                <select class="form-control" asp-for="DogBreeds" asp-items="@ViewData["DogBreeds"] as IEnumerable<SelectListItem>"></select>
                <span asp-validation-for="DogBreeds" class="text-danger"></span>
            </div>
            <label asp-for="Id" hidden></label>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Details", new {id = Model.Id})">Anuluj</a>
</div>