
@{
    ViewData["Title"] = "AfterDeleteUser";
}
<div class="after-delete">
    <h1>Konto usunięto pomyślnie</h1>
    <img src="~/images/dog.jpg" class="static-image-not-dragable" alt="Bay" style="height:500px; width: auto" />

</div>
