@model Psinder.Web.Models.User.UserDeleteModelView

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Czy napewno chcesz usunąć </h3>
<div>
    <h4>PlayerDeleteModelView</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="UserName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.UserName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Email"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            <label asp-for="DateOfBirth"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.DateOfBirth.Date.ToString("d")
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-group">
            <label asp-for="PasswordConfirm"></label>
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <div class="btn-group btn-block">
            <input type="submit" value="Usunięcie konta"/>
            <a type="button" class="gbtn gbtn-accept" asp-action="Edit">Anuluj</a>
        </div>

        <a asp-action="Index">Back to List</a>
    </form>
</div>