@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Psinder.Web.Models.User.PasswordChangeModelView


@{
    ViewData["Title"] = "Edit Password";
}

<h1>Edit Password</h1>

<h4>PasswordChangeModelView for @Model.UserName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="edi2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
                <a type="button" class="gbtn gbtn-action" asp-action="Edit">Back to Edit</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

