@{
    ViewData["Title"] = "404 - Not found";
}

<div class="text-center">
    <h1 class="display-4">404 - Page not found</h1>
    <img src="~/images/404.jpg" class="static-image-not-dragable" alt="Error404" style="height:600px; width: auto" />
</div>