@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Cześć</h1>

    <img src="~/images/dogs.png" class="static-image-not-dragable" alt="Site Logo" style="height:800px; width: auto" />
    </div>
